@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }

body {
  -webkit-animation: fade-in 1s linear; /* Safari 4+ */
  -moz-animation: fade-in 1s linear; /* Fx 5+ */
  -o-animation: fade-in 1s linear; /* Opera 12+ */
  animation: fade-in 1s linear; /* IE 10+, Fx 29+ */
}

#logo{
	position: relative;
	top: 1%;
	left: 1%;
	width: 150px;
	margin: 10px 20px;
}

#logo_h{
	cursor: default;
}

.header{
	background-color: #d9b289;
	margin: 0;
	width: 100%
}

#nav{
	position: absolute;
	top: 15px;
	left:55%;
}

nav a{
	text-decoration: none;
	color: white;
	font-family: 'Shippori Mincho B1', serif;
	margin: 0 20px;
	font-size: 20px;
}

nav a:hover{
	color: #f2e9bf;
}

.h{
	text-align: center;
	margin: 10px auto;
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
}

div.text{
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	width: 100%;
	padding:5% 10%;
}

p.text{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	width: 100%;
	padding:20px;
}

.cards{
	width: 90%; 
	text-align: center;
	background-color: #f2e9bf; 
	border-radius: 20px;
	margin: 20px auto;
	height: auto;
}

.cards img{
	padding: 10% 0 0;
	width: 80%;
}
#footer{
	text-align: center;
	margin: 10px auto;
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	color: white;
	
}

footer{
	width: 100%;
	background-color: #d9b289;
	margin: 40px 0 0;
}

#icon,#icon-sm{
	text-align: center;
}

#icon  a, #icon-sm a{
	color: white;
}

#icon a:hover, #icon-sm a:hover{
	color: #f2e9bf;
}

#icon i{
	margin: 0 30px;
}

#icon-sm i{
	margin: 0 10px;
}

#icon-sm{
	display: none;
}

.hamburger-menu{
	display: none;
}

@media screen and (max-width: 575.98px) { 
	#logo{
		position: relative;
		top: 1%;
		left: 1%;
		width: 30%;
		margin: 10px 20px;
	}

	p.text{
		font-family: 'Raleway', sans-serif;
		font-size: 20px;
		width: 100%;
		padding:20px;
		text-align: justify;
	}

	#nav{
		display: none;
	}

	nav a{
		display: none;
	}

	.h{
		text-align: center;
		margin: 10px auto;
		font-family: 'Dancing Script', cursive;
		font-size: 45px;
	}

	.cards{
		width: 70%; 
		text-align: center;
		background-color: #f2e9bf; 
		border-radius: 20px;
		margin: 20px auto;
		height: auto;
	}

	.cards img{
		padding: 10% 0 0;
		width: 70%;
	}

	div.text{
		font-family: 'Raleway', sans-serif;
		font-size: 15px;
		width: 100%;
		padding:5% 12%;
	}

	#footer{
		text-align: center;
		margin: 10px auto;
		font-family: 'Dancing Script', cursive;
		font-size: 20px;
		color: white;
		
	}

	#icon-sm{
		display: block;
	}

	#icon {
		display: none;
	}

	.hamburger-menu{
		display: inline-block;
	}

	/* скрываем чекбокс */
	#menu__toggle {
	  opacity: 0;
	}
	/* стилизуем кнопку */
	.menu__btn {
	  display: flex; /* используем flex для центрирования содержимого */
	  align-items: center;  /* центрируем содержимое кнопки */
	  position: fixed;
	  top: 0;
	  left: 85%;
	  width: 40px;
	  height: 50px;
	  cursor: pointer;
	  z-index: 1000;
	}
	/* добавляем "гамбургер" */
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  background-color: #f2e9bf;
	}
	.menu__btn > span::before {
	  content: '';
	  top: -8px;
	}
	.menu__btn > span::after {
	  content: '';
	  top: 8px;
	}

	/* контейнер меню */
	.menu__box {
	  display: block;
	  position: fixed;
	  visibility: hidden;
	  top: 0;
	  width: 50%;
	  height: 100%;
	  margin: 0;
	  padding: 0;
	  list-style: none;
	  text-align: center;
	  background-color: #d9b289;
	  z-index: 100;
	}
	/* элементы меню */
	.menu__item {
	  display: block;
	  padding: 12px 24px;
	  text-decoration: none;
	color: white;
	font-family: 'Shippori Mincho B1', serif;
	  font-size: 20px;
	}
	.menu__item:hover {
	  background-color: #d9b289;
	  text-decoration: none;
	color: #f2e9bf;
	}

	#menu__toggle:checked ~ .menu__btn > span {
	  transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
	  top: 0;
	  transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
	  top: 0;
	  transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .menu__box {
	  visibility: visible;
	  left: 0;
	}
	
 }

 @media (min-width: 575.98px)and (max-width: 767.98px) {
 	#logo{
		position: relative;
		top: 1%;
		left: 1%;
		width: 20%;
		margin: 10px 20px;
	}

	p.text{
		font-family: 'Raleway', sans-serif;
		font-size: 20px;
		width: 100%;
		padding:20px;
		text-align: justify;
	}

	#nav{
		display: none;
	}

	nav a{
		display: none;
	}

	.h{
		text-align: center;
		margin: 10px auto;
		font-family: 'Dancing Script', cursive;
		font-size: 70px;
	}

	.cards{
		width: 80%; 
		text-align: center;
		background-color: #f2e9bf; 
		border-radius: 20px;
		margin: 20px auto;
		height: auto;
	}

	.cards img{
		padding: 10% 0 0;
		width: 80%;
	}

	div.text{
		font-family: 'Raleway', sans-serif;
		font-size: 25px;
		width: 100%;
		padding:5% 12%;
	}

	#footer{
		text-align: center;
		margin: 10px auto;
		font-family: 'Dancing Script', cursive;
		font-size: 35px;
		color: white;
		
	}

	#icon-sm{
		display: block;
	}

	#icon {
		display: none;
	}

	.hamburger-menu{
		display: inline-block;
	}

 	.hamburger-menu{
		display: inline-block;
	}

	/* скрываем чекбокс */
	#menu__toggle {
	  opacity: 0;
	}
	/* стилизуем кнопку */
	.menu__btn {
	  display: flex; /* используем flex для центрирования содержимого */
	  align-items: center;  /* центрируем содержимое кнопки */
	  position: fixed;
	  top: 0;
	  left: 86%;
	  width: 50px;
	  height: 60px;
	  cursor: pointer;
	  z-index: 1000;
	}
	/* добавляем "гамбургер" */
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  background-color: #f2e9bf;
	}
	.menu__btn > span::before {
	  content: '';
	  top: -8px;
	}
	.menu__btn > span::after {
	  content: '';
	  top: 8px;
	}

	/* контейнер меню */
	.menu__box {
	  display: block;
	  position: fixed;
	  visibility: hidden;
	  top: 0;
	  width: 50%;
	  height: 100%;
	  margin: 0;
	  padding: 0;
	  list-style: none;
	  text-align: center;
	  background-color: #d9b289;
	  z-index: 100;
	}
	/* элементы меню */
	.menu__item {
	  display: block;
	  padding: 15px 25px;
	  text-decoration: none;
	color: white;
	font-family: 'Shippori Mincho B1', serif;
	  font-size: 30px;
	}
	.menu__item:hover {
	  background-color: #d9b289;
	  text-decoration: none;
	color: #f2e9bf;
	}

	#menu__toggle:checked ~ .menu__btn > span {
	  transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
	  top: 0;
	  transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
	  top: 0;
	  transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .menu__box {
	  visibility: visible;
	  left: 0;
	}
 }

 @media (min-width: 767.98px) and (max-width: 991.98px) {
 	#logo{
		position: relative;
		top: 1%;
		left: 1%;
		width: 20%;
		margin: 10px 20px;
	}

	p.text{
		font-family: 'Raleway', sans-serif;
		font-size: 30px;
		width: 100%;
		padding:10px;
		text-align: justify;
	}

	#nav{
		display: none;
	}

	nav a{
		display: none;
	}

	.h{
		text-align: center;
		margin: 10px auto;
		font-family: 'Dancing Script', cursive;
		font-size: 80px;
	}

	.cards{
		width: 90%; 
		text-align: center;
		background-color: #f2e9bf; 
		border-radius: 20px;
		margin: 20px auto;
		height: auto;
	}

	.cards img{
		padding: 10% 0 0;
		width: 80%;
	}

	div.text{
		font-family: 'Raleway', sans-serif;
		font-size: 25px;
		width: 100%;
		padding: 5% 10%;
	}

	#footer{
		text-align: center;
		margin: 10px auto;
		font-family: 'Dancing Script', cursive;
		font-size: 45px;
		color: white;
		
	}

	.hamburger-menu{
		display: inline-block;
	}

 	.hamburger-menu{
		display: inline-block;
	}

	/* скрываем чекбокс */
	#menu__toggle {
	  opacity: 0;
	}
	/* стилизуем кнопку */
	.menu__btn {
	  display: flex; /* используем flex для центрирования содержимого */
	  align-items: center;  /* центрируем содержимое кнопки */
	  position: fixed;
	  top: 0;
	  left: 90%;
	  width: 45px;
	  height: 65px;
	  cursor: pointer;
	  z-index: 1000;
	}
	/* добавляем "гамбургер" */
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  background-color: #f2e9bf;
	}
	.menu__btn > span::before {
	  content: '';
	  top: -8px;
	}
	.menu__btn > span::after {
	  content: '';
	  top: 8px;
	}

	/* контейнер меню */
	.menu__box {
	  display: block;
	  position: fixed;
	  visibility: hidden;
	  top: 0;
	  width: 50%;
	  height: 100%;
	  margin: 0;
	  padding: 0;
	  list-style: none;
	  text-align: center;
	  background-color: #d9b289;
	  z-index: 100;
	}
	/* элементы меню */
	.menu__item {
	  display: block;
	  padding: 15px 25px;
	  text-decoration: none;
	color: white;
	font-family: 'Shippori Mincho B1', serif;
	  font-size: 30px;
	}
	.menu__item:hover {
	  background-color: #d9b289;
	  text-decoration: none;
	color: #f2e9bf;
	}

	#menu__toggle:checked ~ .menu__btn > span {
	  transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
	  top: 0;
	  transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
	  top: 0;
	  transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .menu__box {
	  visibility: visible;
	  left: 0;
	}
 }
